---
// Panda CSS
import { css } from '../../../styled-system/css';
---

<a
    id="skip-to-content"
    href="#main"
    class={`skip-to-content ${css({ bg: 'black', border: '0', color: 'white', left: '4', outline: 'none', textDecoration: 'none', top: '4', transition: 'transform', zIndex: '9999', borderWidth: '0', clip: 'rect(0,0,0,0)', h: '1px', m: '-1px', opacity: '0', overflow: 'hidden', p: '0', position: 'absolute', transform: 'translateY(-3rem)', whiteSpace: 'nowrap', w: '1px', _focus: { clip: 'unset', h: 'auto', m: 'auto', opacity: '100', p: '1rem 1.5rem', position: 'fixed', transform: 'translateY(0)', w: 'auto' } })}`}
>
    Skip to content
</a>
<a
    id="skip-to-header"
    href="#header"
    class={`skip-to-navigation ${css({ bg: 'black', border: '0', color: 'white', left: '4', outline: 'none', textDecoration: 'none', top: '4', transition: 'transform', zIndex: '9999', borderWidth: '0', clip: 'rect(0,0,0,0)', h: '1px', m: '-1px', opacity: '0', overflow: 'hidden', p: '0', position: 'absolute', transform: 'translateY(-3rem)', whiteSpace: 'nowrap', w: '1px', display: 'none', md: { display: 'block' }, _focus: { clip: 'unset', h: 'auto', m: 'auto', opacity: '100', p: '1rem 1.5rem', position: 'fixed', transform: 'translateY(0)', w: 'auto' } })}`}
>
    Skip to Navigation
</a>
<a
    id="skip-to-navigation"
    href="#navigation"
    class={`skip-to-navigation ${css({ bg: 'black', border: '0', color: 'white', left: '4', outline: 'none', textDecoration: 'none', top: '4', transition: 'transform', zIndex: '9999', borderWidth: '0', clip: 'rect(0,0,0,0)', h: '1px', m: '-1px', opacity: '0', overflow: 'hidden', p: '0', position: 'absolute', transform: 'translateY(-3rem)', whiteSpace: 'nowrap', w: '1px', display: 'block', md: { display: 'none' }, _focus: { clip: 'unset', h: 'auto', m: 'auto', opacity: '100', p: '1rem 1.5rem', position: 'fixed', transform: 'translateY(0)', w: 'auto' } })}`}
>
    Skip to Navigation
</a>
