---
// Libraries
import { conferenceConfig } from '../config/conference-config';

// Components
import Svg from './util/svg.astro';
import MenuButton from './header/MenuButton';
import MenuFlyout from './header/MenuFlyout';
import DesktopLinks from './header/DesktopLinks';

// Panda CSS
import { css } from '../../styled-system/css';

// Assets
import LogoStandard2023 from '/public/svg/logo-standard-2023.svg'; // Import from root
import LogoStandard2023Simple from '/public/svg/logo-standard-2023-simple.svg'; // Import from root
import TicketIcon from '/public/svg/ticket-icon.svg'; // Import from root
---

<header id='header' class={`global-nav ${css({ position: 'relative', bg: 'white', w: '100%', display: 'flex', zIndex: '10' })}`}>
    <div class={css({ w: '100%', position: 'relative', maxW: '1200px', m: '0 auto' })}>
        <div class={css({ w: '100%', position: 'relative' })}>
            <div class={css({ display: 'flex', flexDir: 'row', justifyContent: 'space-between', alignItems: 'center' })}>
                <div class={css({ display: 'flex', flexDir: 'row', justifyContent: 'flex-start', alignItems: 'flex-start', md: { p: '4' } })}>
                    <a
                        aria-label={`Visit the ${conferenceConfig.name} homepage`}
                        href={`/`}
                        class={css({ display: 'flex', justifyContent: 'flex-start', alignItems: 'center', h: '20', px: '4', md: { px: '0', h: 'auto' } })}
                    >
                        {/* Mobile Logo */}
                        <Svg src={LogoStandard2023Simple} class={css({ w: '16', display: 'block', xs: { w: '20' }, sm: { display: 'none' } })} />
                        {/* Desktop Logo */}
                        <Svg src={LogoStandard2023} class={css({ w: '24', display: 'none', sm: { display: 'block' } })} />
                    </a>
                </div>
                <div class={css({ display: 'flex', flexDir: 'row', justifyContent: 'flex-start', alignItems: 'flex-start' })}>
                    {/* Desktop Links */}
                    <div class={css({ display: 'none', flexDir: 'row', justifyContent: 'flex-start', alignItems: 'flex-start', md: { display: 'flex' } })}>
                        <DesktopLinks client:load />
                    </div>
                    {/* Primary Buttons */}
                    <div class={css({ display: 'flex', flexDir: 'row', justifyContent: 'flex-start', alignItems: 'center', md: { p: '4' } })}>
                        {/* Buy tickets button */}
                        <a
                            aria-label={`Buy tickets`}
                            href={`/`}
                            class={css({ w: '20', h: '20', bg: '2023-orange', display: 'flex', justifyContent: 'center', alignItems: 'center', md: { w: 'auto', h: 'auto', bg: '2023-green', px: '8', py: '5', transition: 'colors', _hover: { bg: '2023-orange' }, _active: { bg: '2023-red' }, _focus: { ring: '2023-black' } } })}
                        >
                            <Svg src={TicketIcon} className={css({ w: '7', xs: { w: '8' }, md: { display: 'none' } })} />
                            <span class={css({ display: 'none', color: 'white', md: { display: 'block', fontFamily: 'display', fontWeight: 'semibold' } })}>
                                Buy Tickets
                            </span>
                        </a>
                        {/* Open menu button */}
                        <MenuButton client:load />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<MenuFlyout client:load />
