---
// Libraries
import { conferenceConfig } from '../config/conference-config'

// Data
import { formatISO } from 'date-fns'

// Components
import HomepageHeroPanel from './home/HomepageHeroPanel'
import HomepageTitlePanel from './home/homepage-title-panel.astro'

// Panda CSS
import { css } from '../../styled-system/css'

// Styles
import { hero, conferenceDetails, credit } from './hero.css'
---

<section class={`hero ${css({ overflowX: 'hidden' })}`}>
    <div class={css({ w: '100%' })}>
        <HomepageHeroPanel client:load />
        <HomepageTitlePanel />
    </div>
</section>
