---
import { themeClass, themeValues } from '../theme.css'

// PANDA Styles
import '../index.css'

export interface Props {
    title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class={themeClass}>
        <slot />
    </body>
</html>
<style
    is:global
    define:vars={{
        fontFamily: themeValues.fonts.main,
        textColour: themeValues.colors.grey800,
        linkHoverColor: themeValues.colors.dddpink,
    }}
>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
    }
    html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
        scroll-behavior: smooth;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
            Courier New, monospace;
    }

    body {
        font-family: var(--fontFamily);
        color: var(--textColour);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    a {
        color: var(--textColour);
        transition: color 0.3s linear;
    }

    a:focus,
    a:hover {
        color: var(--linkHoverColor);
    }

    @media (prefers-reduced-motion: reduce) {
        *,
        ::before,
        ::after {
            animation-delay: -1ms !important;
            animation-duration: 1ms !important;
            animation-iteration-count: 1 !important;
            background-attachment: initial !important;
            scroll-behavior: auto !important;
            transition-duration: 0s !important;
            transition-delay: 0s !important;
        }
    }
</style>
